.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  height: 100vh;
  padding: 10px;
}

.square {
  width: 50%;
  height: 50%;
  margin: auto;
}

.squareone {
  grid-column: 1;
  grid-row: 1;
  height: 100%;
  width: 100%;
}

.squaretwo {
  grid-column: 2;
  grid-row: 1;
  height: 100%;
  width: 100%;
}

.squarethree {
  grid-column: 2;
  grid-row: 2;
  height: 100%;
  width: 100%;
}

.squarefour {
  grid-column: 1;
  grid-row: 2;
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .squaretwo,
  .squarefour {
    grid-column: 1;
  }
}