.landingcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  height: auto;
  max-height: 90vh;
  max-width: 90vh;
  padding: 10px;
  border: 1px solid white;
  box-sizing: border-box;
}

.square {
  width: 100%;
  height: 100%;
  margin: auto;
}

.squareone {
  grid-column: 1;
  grid-row: 1;
}

.squaretwo {
  grid-column: 2;
  grid-row: 1;
}

.squarethree {
  grid-column: 2;
  grid-row: 2;
}

.squarefour {
  grid-column: 1;
  grid-row: 2;
}

@media (max-width: 600px) {
  .landingcontainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .squaretwo,
  .squarefour {
    grid-column: 1;
  }
}