.newboardcontainer {
  border: 1px solid white;
  width: 60%;
  height: 100%;
  margin: auto;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.titleboard{
  margin-bottom: 10px;  
}
.backgroundcolor{
  margin-bottom: 10px;
}