.profilelistcontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid white;
  padding: 10px;
  margin: auto;
  max-width: 600px;
  justify-content: center;
}

.profilelistcontainer > p {
  margin: 8px;
}
