.recipescontainer {
  border: 1px solid white;
  max-width: 650px;
  margin: auto;
  padding-top: 20px;
}

.searchbar:focus {
  background-color: rgb(209, 254, 252);
}

.searchbutton {
  margin-left: 10px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.paginationnumbers {
  padding-left: 10px;
  padding-right: 10px;
}