.searchbutton {
  margin-left: 10px;
}

.pagination {
  display: flex;
  align-items: center; 
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.paginationnumbers{
  padding-left: 10px;
  padding-right: 10px;
}
