.navcontainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav > ul {
  margin: 0;
  padding: 16px 32px;
}

nav {
  display: flex;
  align-items: center;
  padding: 0px 15px;
  background-image: linear-gradient(#3b4046, black);
  width: 100%;
  height: 65px;
}

.allnavlinks {
  display: flex;
  position: absolute;
  padding-bottom: 5px;
}

.everythingbutlogout{
  padding-right: 25px;
}

.navlinks {
  align-items: center;
  text-decoration: none;
  color: inherit;
  margin-left: 20px;
}

.navlinks:hover {
  filter: brightness(115%);
}

#logout {
  float: right;
}

.label {
  display: block;
  text-align: center;
  font-size: 12px;
  margin-top: 3px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  padding-bottom: 5px;
}

.navlinks:hover .label {
  visibility: visible;
  opacity: 1;
  width: fit-content;
}
