.main {
  border: 1px solid white;
  max-width: 650px;
  margin: auto;
  padding-top: 20px;
}

.photoAndNutrition {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.empty {
  width: 200px;
  margin: 10px;
}

.right {
  width: 200px;
  margin: 10px;
}

.nutrition {
  border: 1px solid white;
  height: 100%;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.labelsList {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: auto;
}

.healthLabel{
  font-size: small;
  padding: 5px;
  border: 1px solid white;
  margin: 5px;
}

.form {
  margin: 10px;
}

.type {
  display: flex;
  margin: auto;
  margin-top: 30px;
  width: 80%;
  justify-content: space-around;
}

.ingredients {
  border: 1px solid white;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ingredient {
  margin: 5px;
}

.recipe{
  margin-top: 10px;
  margin-bottom: 10px;
}

.addtoboard{
  margin-right: 10px;
  margin-left: 10px;
}