.profilecardcontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid white;
  width: 400px;
  height: 400px;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.profileimage {
  display: none;
}

.profilecardcontainer:hover .profileimage {
  display: flex;
}

.noprofileimage {
  display: none;
}

.profilecardcontainer:hover .noprofileimage {
  display: flex;
}

h3 {
  font-size: 30px;
  margin: 0;
}

h4 {
  font-size: 20px;
  margin: 0;
}